.jumbotron
{
	background-color: orange;
	color: black;
	text-align: center;
	margin-top: 50px;
}

footer
{
	padding: 10px 10px 0 10px;
	background-color: orange;
	margin-bottom: : 0px;
	margin-top: 10px;
}
.card-hotel {
	flex: 1 200px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
	background-color: orange;
}
.btn-reserva {
	width: 100%;
	background-color: black;
}

.footer-address-icon {
	padding-right: 10px;
}
nav {
	background-color: orange;
}

img {
	display: block;
}