.jumbotron {
  background-color: #999999;
  color: black;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #999999;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #999999; }

.btn-reserva {
  width: 100%;
  background-color: black; }

.footer-address-icon {
  padding-right: 10px; }

nav {
  background-color: #999999; }

img {
  display: block; }
