$orange: #FF8C00;

@mixin margenes($top, $bottom) {
		margin-top: $top;
		margin-bottom:  $bottom;
}

.jumbotron
{
	background-color: $orange;
	color: black;
	text-align: center;
	@include margenes(50px, 0px);
}

footer
{
	padding: 10px 10px 0 10px;
	background-color: $orange;
	@include margenes(10px, 0px);
}
.card-hotel {
	flex: 1 200px;
	padding: 2px 5px 2px 5px;
	@include margenes(10px, 0px);
	background-color: $orange;
}
.btn-reserva {
	width: 100%;
	background-color: black;
}

.footer-address-icon {
	padding-right: 10px;
}
nav {
	background-color: $orange;
}

img {
	display: block;
}
